<div class="media current-weather-media-object">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src={{currentWeather.icon}}>
    </a>
  </div>
  <div class="media-body">
    <h3 class="">Location</h3>
    <h3 class="">{{currentWeather.time}}</h3>
    <h4 class="media-heading ">{{currentWeather.temperature}}°</h4>
    <p class="feels-like ">Feels like {{currentWeather.apparentTemperature}}°</p>
    <p class="summary ">{{currentWeather.summary}}</p>

  </div>
</div>
