{{#each forecast}}
  <div class="card col-md-1">
    <h4 class="card-title">{{this.time}}</h4>
    <img class="card-img-top" src={{this.icon}}>
    <div class="card-block">
      <p class="card-text">
        <br>
        {{this.summary}}<br>
        <hr>
        Max Temp: {{this.temperatureMax}}째 <br>
        Min Temp: {{this.temperatureMin}}째 <br>
        <hr>
        Max feels like: {{this.apparentTemperatureMax}}째 <br>
        Min feels like: {{this.apparentTemperatureMin}}째 <br>
      </p>
    </div>
  </div>
{{/each}}
